<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Working with Html</h1>
    <a href="https://digipodium.com">Visit Our website</a>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, cumque non! Repudiandae accusantium fugiat, enim odio nulla perferendis alias rerum ex? Dolorum, provident assumenda? Consectetur deleniti quisquam ad perferendis necessitatibus!
    </p>
    <ul>
        <li>Lorem, ipsum dolor.</li>
        <li>Accusamus, natus! Temporibus?</li>
        <li>Nobis, ut optio?</li>
        <li>Totam, laborum alias.</li>
        <li>Facilis, facere doloribus.</li>
        <li>Quod, facere sunt?</li>
        <li>Illo, facere omnis?</li>
        <li>Minima, saepe ea.</li>
        <li>Quo, eos sunt.</li>
        <li>Id, atque deleniti?</li>
        <li>Facere, harum voluptate.</li>
        <li>Porro, enim tempore.</li>
        <li>Velit, modi dicta?</li>
        <li>Ratione, nam placeat!</li>
        <li>Officiis, saepe necessitatibus?</li>
    </ul>
    <img src="https://www.imgacademy.com/themes/custom/imgacademy/images/helpbox-contact.jpg" alt="an image">
</body>
</html>