<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Js Example</title>
</head>

<body>
    <h1>Welcome to Javascript Example 1</h1>
    <p>use CTRL + SHIFT + I or F12 to open developer tool panel and goto console</p>

    <script>
        let a = 120;
        if (a > 20) {
            console.log("a is greater than 20");
        }
        else if (a > 15) {
            console.log("a is greater than 15");
        }
        else {
            console.log("a is less than 15");
        }
    </script>
</body>

</html>