<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 1.2rem;
            font-family: "Roboto", sans-serif;
        }

        .imp {
            color: red;
        }

        #unique {
            color: blue;
        }
    </style>
</head>

<body>
    <h1>Java Script Selecting Items</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, magni.</p>
    <p class="imp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, amet.</p>
    <p id="unique">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, debitis.</p>
    <button class="b1">Click Me</button>

    <script>
        let paras = document.querySelectorAll("p");
        let btn = document.querySelector(".b1");

        paras.forEach(para => {
            para.style.backgroundColor = "lightblue";
        })
    </script>

</body>

</html>